* {
  // outline: 1px solid #565656;
  list-style-type: none;
  font-family: Helvetica;
}

body {
  padding: 0;
  margin: 0;
}

.pagess {
  display: flex;
}

.menu {
  min-width: 270px;
  height: 1117px;
  background-color: #000;
  color: #ffffff;
}

.menu ul {
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
}

.menu ul li {
  padding: 5px 0px;
}

.menu-decoration {
  font-size: 12px;
  color: #878787;
  line-height: 18px;
}
.main {
  margin: 30px auto 30px auto;
  max-width: 670px;
  background-color: #ffffff;
  padding: 30px;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

.main-li {
  display: flex;
  align-items: center;
}
.main-li-message {
  padding: 15px 18px 15px 18px;
  /* border: 1px solid red; */
  border-radius: 50%;
  margin: 0 20px 0 20px;
}

.color-send {
  background-color: #cef9c6;
}

.color_mess {
  background-color: #fff8dd;
}

.main-li-message img {
  width: 13px;
  height: 13px;
}

/* .color_mess::before {
    content: url(2.png);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-color: #E3EFFF;
    border-radius: 50%;
} */

.color_upload {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e3efff;
}

.main-li-text {
  width: 461px;
  padding: 0px 10px 0px 10px;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
  line-height: 20px;
  margin-right: 10px;
}

.main-li-text img {
  border-radius: 8px;
  margin: 20px 5px;
}

.my-write {
  padding: 20px;
  margin-left: 90px;
  background-color: #f7f6f3;
  font-family: Helvetica;
  font-size: 15px;
  color: #131313;
  border-radius: 10px;
}
.picture-1 {
  margin-left: 30px;
}

.picture-2 {
  margin-right: 20px;
}

.header-menu {
  display: flex;
}

.header-block-1 {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 32px;
  color: #131313;
}

.header-block-2 {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-img {
  margin: 0 10px 0 30px;
  width: 40px;
  height: 40px;
  background-color: #ffc200;
  border-radius: 10px;
}

.header-img-2 {
  width: 15px;
  height: 10px;
  padding: 1px 14px 19px 1px;
  line-height: 10px;
  background-color: rgba(143, 142, 142, 0.158);
  border-radius: 50%;
  margin-right: auto;


  // margin: 0 10px 0 8px;
  // align-items: center;
  // background: #eaeaea;
  // border-radius: 15px;
  // border-radius: 15px;
}
.header-img-2::after{
  content: "...";
}

.share {
  height: 30px;
  width: 67px;
  padding: 5px;
  background: #eaeaea;
  border-radius: 15px;
  border-radius: 15px;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  margin-left: 15px;
}

.m-logo {
  display: flex;
  height: 84px;
  align-items: center;
}

.m-logo::before {
  content: url(./assets/icons/Logo@3x.svg);
  margin-left: 30px;
  margin-right: 13px;
  /* position: relative;
    top: 22px;
    left: -35px; */
}

// .m-logo::after {
//     content: url(./assets/icons/Search@3x.svg);
//     margin-left: auto;
//     margin-right: 10px;
//     margin-top: 3px;

// }

.logo-img {
  border-radius: 50%;
  margin-right: 25px;
  margin-left: 30px;
  
}

.main-title {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 14px;
  color: #131313;
  padding: 0;
  text-decoration: none;
}

.menu-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  padding: 0px 0px;
  height: 80px;
}

.user-info {
  align-items: center;
  line-height: 0px;
  margin: 0px;
  /* height: 80px; */
}



/* .user-info::before {
    content: "";
    position: absolute;
    top: 108px;
    left: 30px;
    background-image: url(logo.jpg);
background-size: contain;
border-radius: 50%;
width: 48px;
height: 48px;

}
*/

.menu-tasks {
  padding: 15px 0 30px 30px;
  display: flex;
  line-height: 0px;
}

.menu-complited-tasks {
  display: list-item;
  margin-right: 10px;
}

.menu-complited-tasks:hover {
  background-color: #202020;
  border: 1px solid #9b9b9b;
}

.tasks-text {
  opacity: 0.5;
  font-size: 12px;
  color: #ffffff;
}

.name {
  font-size: 14px;
  color: #ffffff;
}

.profesional {
  font-size: 12px;
  color: #9b9b9b;
}
.tochky {
  margin-left: auto;
  margin-right: 10px;
}
.tochky{
 width: 15px;
  height: 30px;
  padding: 3px 8px 0px 9px;
  background-color: rgba(143, 142, 142, 0.158);
  border-radius: 50%;
}
.tochky::after {
content: "...";
 
}
.tasks {
  font-size: 20px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 10px;
}

.header {
  width: 80%;
  /* margin-left: 270px; */
  /* column-gap: 15px; */
  background-color: #eeebe5;
}

.heder-menu {
  display: flex;
  background-color: #ffffff;
}

.header-menu img {
  width: 30px;
  height: 30px;
}

.menu-header {
  height: 47px;
  opacity: 1;
  font-family: Helvetica;
  font-size: 16px;
  color: #131313;
  background-color: #ffffff;
  margin: -25px 0 0 0;
  padding: 1px;
}

.activ {
  padding-bottom: 14px;
  border-bottom: 2px solid #ffc200;
  color: #131313;
}

.num {
  margin-left: 10px;
  padding: 2px 6px 2px 6px;
  color: #131313;
  background-color: #ffc200;
  border-radius: 50%;
}

.menu-header ul {
  display: flex;
  column-gap: 25px;
}

.menu ul {
  margin: 0 0 0 30px;
  padding: 0;
}

.menu-header ul li a {
  text-decoration: none;
}

.header-title {
  display: flex;
  justify-content: space-between;
}



/* .my-upload:before {
    content: "";
    position: absolute;
    background-image: url(3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    left: 235px;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    background-color: #E3EFFF;
    width: 14px;
    height: 14px;
} */



.header-users-icons {
  display: flex;
  align-items: center;
}

.header-users-icons a {
  text-decoration: none;
}

.header-users-icons li {
  margin-right: 5px;
}

.chat {
  background: #fff8dd;
  border-radius: 15px;
  border-radius: 15px;
  align-items: center;
  font-family: Helvetica;
  font-size: 14px;
  color: #ffc200;
  padding: 2px 8px 2px 8px;
  margin-left: 15px;
}

.us-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
